extends ../layout/admin

block container  
  div(class="my-10")
    
    h2(class="text-center text-2xl font-extrabold ")= namePage
    //- include ../search/assets
    
    form(action="/assets/search" method="GET" class="flex justify-center items-center gap-2")
      div(class="flex items-center gap-2")
        label(for="search" class="text-sm font-medium text-gray-700") Buscar
        input(type="text" name="inventory" id="inventory" class="border border-gray-200 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:border-transparent shadow-sm")

    div(class="flex justify-end  border-gray-200 mt-5 mb-1 gap-2")
      a(href="/assets/create" class="hover:bg-green-400 group flex items-center rounded-md bg-green-500 text-white text-xs font-medium pl-2 pr-3 py-2 shadow-sm uppercase")
        svg( width="20" height="20" fill="currentColor" class="mr-2" aria-hidden="true")
          path(d="M10 5a1 1 0 0 1 1 1v3h3a1 1 0 1 1 0 2h-3v3a1 1 0 1 1-2 0v-3H6a1 1 0 1 1 0-2h3V6a1 1 0 0 1 1-1Z")
        |Nuevo Bien

      //- a(href="/assets/create" 
          class="hover:bg-green-400 group flex items-center rounded-md bg-green-500 text-white text-xs font-medium pl-2 pr-3 py-2 shadow-sm uppercase ")
        svg( width="20" height="20" fill="currentColor" class="mr-2" aria-hidden="true")
          path(d="M10 5a1 1 0 0 1 1 1v3h3a1 1 0 1 1 0 2h-3v3a1 1 0 1 1-2 0v-3H6a1 1 0 1 1 0-2h3V6a1 1 0 0 1 1-1Z")
        |Nuevo AC
  
  
    if assets.length
      
      div(class="bg-wite shadow rounded-lg ")
        ul(class="divide-y divide-gray-200")
          table(class="table-auto w-full font-medium text-sm")
            thead
              tr(class="bg-gray-600 font-bold text-white")
                th(class="px-4 py-2") Numero de Inventario
                th(class="px-4 py-2") Tipo de Bien
                th(class="px-4 py-2 hidden md:table-cell") Serial
                th(class="px-4 py-2 hidden md:table-cell") Area
                th(class="px-4 py-2 hidden md:table-cell") Edificio
                th(class="px-4 py-2 hidden md:table-cell") Descripcion
                th(class="px-4 py-2 ") Acciones

            tbody
              each asset in assets
                tr(class="bg-white dark:bg-gray-800 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-600 cursor-pointer text-center")
                  td(class="border-b px-4 py-2")= asset.inventory
                  td(class="border-b px-4 py-2")= asset.TypeAsset.name
                  td(class="border-b px-4 py-2 hidden md:table-cell")= asset.serial
                  td(class="border-b px-4 py-2 hidden md:table-cell")= asset.Area.name
                  td(class="border-b px-4 py-2 hidden md:table-cell")= asset.Building.name 
                  td(class="border-b px-4 py-2  hidden md:table-cell truncate")= asset.description
                  td(class="border-b px-4 py-2")

                    a( href=`/assets/view/${asset.id}`
                      class="bg-amber-500 hover:bg-amber-400 text-white font-bold py-2 px-4 rounded mx-2 uppercase text-xs"
                    ) Ver

                    a(href=`/assets/edit/${asset.id}`
                      class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded uppercase text-xs" 
                    ) Editar
        div(class="bg-white px-4 py-3 flex items-center justify-between border-t border-grey-200 sm:px-6 ")    
          div(class="flex-1 flex justify-between sm:hidden")

            a(href=`/assets/list?page=${page - 1}` class=`${page === 1 ? 'pointer-events-none' : ''} relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50`) Anterior

            a(href=`/assets/list?page=${page + 1}` class=`${page === pages ? 'pointer-events-none' : ''} relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50`) Siguiente

          div(class="hidden sm:flex-1 sm:flex sm:item-center sm:justify-between")  
            p(class="text-sm text-gray-700 gap-2") Mostrando   
              span(class="font-medium text-emerald-600") #{offset + 1} 
              span(class="") a 
              span(class="font-medium  text-emerald-600") #{totalAsset < limit + offset ? totalAsset : limit + offset } 
              span(class="") de  
              span(class="font-medium text-emerald-600") #{totalAsset } 
              span(class="") resultados
          div(class="hidden sm:block")
            nav(class="relative z-0 inline-flex rounded-lg shadow-md ") 
              - let n = 1
                while n <= pages
                  a(
                    href=`/assets/list?page=${n}`
                    class=`relative rounded-lg inline-flex items-center px-4 py-2 text-xs font-extrabold ${page == n ? 'bg-gray-600 border-emerald-500 text-white ' : 'bg-white border-grey-300 text-gray-500 hover:bg-grey-150'}`
                  ) #{n++}
    else 
      h2(class="text-center text-2xl font-extrabold text-emerald-950 my-20") No hay bienes registrados