extends ../layout/admin

block container  
  div(class="my-10")
    
    h2(class="text-center text-2xl font-extrabold ")= namePage
    each asset in assets
      tr
        td= asset.inventory
        // ... other asset properties ...

    // Pagination
    if pages > 1
      div
        if page > 1
          a(href=`/assets/search?inventorySearch=${inventorySearch}&page=${page - 1}`) Anterior
        if page < pages
          a(href=`/assets/search?inventorySearch=${inventorySearch}&page=${page + 1}`) Siguiente    
        