extends ../layout/login

block container  
  div(class="my-10")
    h1(class="text-4xl my-10 font-extrabold text-center") Registo 
      span(class="font-normal text-green-500") de Bienes
    h2(class="text-center text-2xl font-extrabold ")= namePage
    if errors && errors.length > 0
      div(class="max-w-md mx-auto my-10 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative text-center") 
        
        ul
          each error in errors
            li(class="font-bold uppercase")= error.msg   

    div(class="mt-8 mx-auto max-w-md")
      div(class="bg-white p-8 rounded-lg px-4 shadow-lg")
        form(action="/auth/forget-password", method="POST" class="space-y-4" noValidate)       
          //- Email
          div(class="form-group")
              label(
                class="block text-sm uppercase text-gray-500 font-bold mb-2"
                for="email") Email de Registro 
              input(
                id="email", 
                class="form-control w-full py-2 px-3  border border-gray-300 rounded-lg mb-2 placeholder-gray-500",
                placeholder="Ingresa tu email",
                type="email", 
                name="email", 
                required
              )
          div(class="flex items-center justify-between")
            a(href="/auth/login", class="text-xs text-gray-500") Iniciar Sesión
            
          //- Submit
          input(type="submit", class="btn btn-primary w-full py-2 px-3 rounded-lg bg-green-600 hover:bg-green-500 text-white font-bold cursor-pointer ", value="Recuperar Contraseña")