extends ../layout/index

block container  
  div(class="my-10")
    h1(class="text-4xl my-10 font-extrabold text-center") Registo 
      span(class="font-normal text-green-500") de Bienes
    h2(class="text-center text-2xl font-extrabold ")= namePage
    if errors && errors.length > 0
      div(class="max-w-md mx-auto my-10 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative") 
        strong(class="font-bold") Error: 
        ul
          each error in errors
            li= error.msg

    div(class="mt-8 mx-auto max-w-md")
      div(class="bg-white p-8 rounded-lg px-4 shadow-lg")
        form(action="/auth/registerUser", method="POST" class="space-y-4" noValidate)
          //- Nombre
          div(class="form-group")
            label(
              class="block text-sm uppercase text-gray-500 font-bold mb-2"
              for="name") Nombre
            input(
              id="name", 
              class="form-control w-full py-2 px-3  border border-gray-300 rounded-lg mb-2 placeholder-gray-500",
              placeholder="Ingresa tu nombre",
              type="text", 
              name="name", 
              value= user ? user.name : '',
              required
            )
          //- Email
          div(class="form-group")
              label(
                class="block text-sm uppercase text-gray-500 font-bold mb-2"
                for="email") Email de Registro 
              input(
                id="email", 
                class="form-control w-full py-2 px-3  border border-gray-300 rounded-lg mb-2 placeholder-gray-500",
                placeholder="Ingresa tu email",
                type="email", 
                name="email", 
                value = user ? user.email : '',
                required
              )
          //- Password
          div(class="form-group")
              label(
                class="block text-sm uppercase text-gray-500 font-bold mb-2"
                for="password") Password 
              input(
                id="password", 
                class="form-control w-full py-2 px-3  border border-gray-300 rounded-lg mb-2 placeholder-gray-500",
                placeholder="Ingresa tu contrase침a",
                type="password", 
                name="password", 
                required
              )
          //- Repeat Password
          div(class="form-group")
              label(
                class="block text-sm uppercase text-gray-500 font-bold mb-2"
                for="repeat_password") Repetir Password 
              input(
                id="repeat_password", 
                class="form-control w-full py-2 px-3  border border-gray-300 rounded-lg mb-2 placeholder-gray-500",
                placeholder="Ingresa tu contrase침a",
                type="password", 
                name="repeat_password", 
                required
              )
          div(class="flex items-center justify-between")
            a(href="/auth/login", class="text-xs text-gray-500") Iniciar Sesi칩n
            a(href="/auth/forget-password", class="text-xs text-gray-500") Olvider mi contrase침a
            //- Remember me
            //- div(class="flex items center")
            //-   input(
            //-     id="remember_me", 
            //-     class="form-checkbox border border-gray-300 rounded-lg mb-2 placeholder-gray-500",
            //-     type="checkbox", 
            //-     name="remember_me"
            //-   )
            //-   label(
            //-     class="text-sm text-gray-500 font-bold"
            //-     for="remember_me") Recordarme 
          //- Submit
          input(type="submit", class="btn btn-primary w-full py-2 px-3 rounded-lg bg-green-600 hover:bg-green-500 text-white font-bold cursor-pointer ", value="Registrarte")